# Build folders
[Bb]in/
[Oo]bj/
build/
*.exe
*.dll
*.lib
*.pdb
*.ipch
*.iobj
*.iopt
*.log
*.sdf
*.cache
*.db
*.opendb
*.VC.db
*.VC.opendb

# Visual Studio settings folders
.vs/
*.user
*.suo
*.VC.db

# OS files
.DS_Store
Thumbs.db

# CMake files (in case you use it later)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
